/* Altera tudo */
*{ margin: 0; padding: 0; }

@font-face {
  font-family: 'Lato';
  src: url(https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap);
}

/*html { height: 100% }*/

body {
    background: white;
    font-family: 'Lato';
    font-size: 13px;
    color: #000;
    height: 100%;
}

.main {
    min-height: 100%;
    position: relative;
    width: 1020px;
    margin: 0 auto;
}

.content {
    width: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover, a:active {
    color: black;
}

/* Menu */
#menu {
    background: green;
    width: 100%;
    top: 0;
    left: 0;
    padding: 25px 0;
    position: fixed;
    z-index: 1000;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    text-align: center;
    
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}

#menu a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

#menu a:active {
    font-weight: bold;
}


/*Cabeçalho*/
header {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    position: relative;
}

.box1 img {
    max-width: 300px;
}

.box1 {
    width: 50%;
    height: 90px;
    float: left;
    text-align: center;
    margin-bottom: 70px;
}

.box1 h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 34px;
    padding-top: 24px;
	padding-bottom: 24px;
}

/* Filtros para Pesquisas */
#forms-filtros {
    margin: 0 auto;
    display: flex;
}

#form-filtro-titulo input, #form-filtro-data input, #form-filtro-tag select {
    border: 1px solid #ccc;
    font-family: 'Lato';
    font-style: italic;
    padding: 10px;
    width: 305px;
    margin: 0 10px 50px;
    float: left;
}

#form-filtro-titulo input, #form-filtro-data input{
    height: 25px;
}

#form-filtro-tag select {
    height: 46px;
}

/* Página interna álbuns */
.conteudo {
    width: 1020px;
    text-align: center;
}

.conteudo h1 { /*título*/
    text-align: center; 
    margin-bottom: 10px;
}

.conteudo h4 { /*data*/
    text-align: center;
    font-weight: normal;
    display: inline;
    margin: 0 10px;
}

.conteudo ul { 
    text-align: center;
    margin: 20px auto;
}

.conteudo ul li { /*categorias*/
    list-style: none;
    padding: 3px 5px;
    margin: 0 5px;
    color: green;
    border: 1px solid green;
    display: inline;
    text-transform: uppercase;
    font-size: 85%;
    text-align: center;
}

.conteudo h5 {
    margin-top: 5px;
}

.conteudo h6 {
    font-weight: normal;
    text-align: center;
    margin-top: -10px;
    font-size: 11px;
}

/* Box capa dos álbuns */
#albuns-fundo {
    display: flex;
    flex-direction: column;
}

#albuns {
    display: flex;
    flex-wrap: wrap;
}

.home-albuns {
    width: 300px;
    float: left;
    margin: 20px;
}

.home-albuns img {
    height: auto;
}

.home-albuns img:hover {
    cursor: pointer;
}

.home-albuns h2 {
    text-align: center;
    color: #333;
    margin: 10px 0;
    line-height: 1.5em;
    font-size: 18px;
}

/*data do album na home*/
.home-albuns h4 {
    text-align: center;
    color: white;
    background: green;
    padding: 5px;
    display: inline;
    position: relative;
    z-index: 1000;
}

.home-albuns h5 {
    margin-bottom: 20px;
    color: #333;
    font-size: 90%;
    text-align: center;
}

.home-albuns p {
    text-align: center;
    font-size: 90%;
    font-style: italic;
}

.home-albuns a {
    color: #333;
}

/*categorias do album*/
#albuns ul {           
    width: 300px;
    margin: 15px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#albuns ul li{
    list-style: none;
    padding: 3px 5px;
    margin: 10px 5px;
    color: green;
    border: 1px solid green;
    text-transform: uppercase;
    font-size: 85%;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 1000;
}

/* Login */
#login-form {
    margin: 0 auto;
    width: 300px;
    height: 485px;
}

#login-form h2{
    text-align: center;
    padding: 7px;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: normal;
}

#login-form input {
    width: 100%;
    margin: 5px 0;
    padding: 7px;
    font-family: 'Lato';
}

#btn-login  {
    width: 318px;
    background: green;
    color: white;
    padding: 7px !important;
    border: 0;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Lato';
}

/* Dashboard */
#dashboard {
    width: 500px;
    margin: auto;
    height: 415px;
}

#dashboard p {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 10px;
    color: green;
}

#dashboard ul {
    width: 100%;
    float: left;
    list-style: none;
    text-align: center;
    font-size: 14px;
}

#dashboard ul li {
    background: #ddd;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

#dashboard ul li:hover {
    background: white;
    border: 1px solid #ccc;
    font-weight: bold;
}

/* Novo Álbum */
#form-new{
    width: 500px;
    margin: auto;
}

#form-new p{
    text-align: center;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 10px;
    color: green;
}

#form-new label {
    font-family: 'Lato';
    font-style: italic;
}

#form-new input {
    width: 100%;
    font-family: 'Lato';
    padding: 7px;
    margin: 10px 0;
}

#btn-new {
    width: 514px;
    background: green;
    color: white;
    padding: 10px;
    border: 0;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
    margin: 10px auto;
    font-family: 'Lato';
}

/* Botão retornar à dashboard */
#btn-return {
    width: 300px;
    text-align: center;
    background: white;
    color: green;
    border: 1px solid green;
    padding: 7px;
    text-transform: uppercase;
    font-size: 90%;
    margin: 20px auto;
    font-family: 'Lato';
}

#btn-return a{
    color: green;
}


/* Inserir fotos ao álbum */
#form-cadastro-fotos {
    width: 500px;
    margin: auto;
    height: 485px;
}

#form-cadastro-fotos p{
    text-align: center;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 10px;
    color: green;
}

#form-cadastro-fotos label {
    font-family: 'Lato';
    font-style: italic;
}

#form-cadastro-fotos input, #form-cadastro-fotos select {
    width: 100%;
    font-family: 'Lato';
    padding: 7px;
    margin: 10px 0;
}

#btn-new-fotos {
    width: 514px;
    background: green;
    color: white;
    padding: 10px;
    border: 0;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
    margin: 10px auto;
    font-family: 'Lato';
}

/* Inserir categorias ao álbum */
#tags-form, #new-tag-form {
    width: 500px;
    margin: auto;
}

#tags-form h2{
    text-align: center;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 10px;
    color: green;
    font-weight: normal;
}

#tags-form p{
    font-size: 14px;
    color: red;
    font-style: normal;
    text-align: center;
}

#tags-form label, #new-tag-form label {
    font-family: 'Lato';
    font-style: italic;
}

#tags-form select, #new-tag-form input {
    width: 100%;
    font-family: 'Lato';
    padding: 7px;
    margin: 10px 0;
}

#tags-form h4, #new-tag-form h4 {
    font-size: 110%;
    margin: 10px 0;
}

/*seleções tags*/
#tags-form input{
}

#tags-form label {
    font-size: 12px;
}


#btn-new-tag, #btn-cadastrar {
    width: 514px;
    background: green;
    color: white;
    padding: 10px;
    border: 0;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
    margin: 10px auto;
    font-family: 'Lato';
}


/*Rodapé fictício*/
.paginacao {
    width: 1020px;
    margin: 0px auto;
    display: inline-block;
    text-align: center;
}

.paginacao ul li {
    width: 30px;
    height: 30px;
    padding: 7px 10px;
    border: 1px solid grey;
    color: #333;
    border-radius: 40px;
    list-style: none;
    display: inline;
    margin: 0 5px;
    cursor: pointer;
}


/* Rodapé */
#footer-wrapper {
    width: 100%;
    position: relative;
    clear: both;
    height: 100%;
    top: 200px;
}

footer {
    background: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 45px 0;
    color: #666;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

footer img {
    width: 200px
}

.foot00 {
    width: 950px;
    margin: 0 auto;
}

.foot01, .foot02, .foot03 {
    width: 33.3%;
    float: left;
    font-size: 11px;
}

.foot01 {
    text-align: right;
    line-height: 25px;
}

.foot01 a { margin: 0 10px; }
.foot01 a:hover { font-weight: bold; }

.foot02 {
    text-align: center;
}

.foot03{
    line-height: 25px;
}

#alerta {
    display: none;
}

/*cadastrado com sucesso*/
#div-form-fotos p, #div-tag-form p, #div-novo-album p{
    text-align: center;
    font-style: italic;
}